* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --primary: #2FB464;
    --secondary:  #808080;

}
body{
  font-family: 'Inter', sans-serif;
}
h1{
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: white;
}
h2{
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}
h3{
  font-weight: bold;
  font-size: 37px;
  line-height: 31px;
}
h4{

}
h5{
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.01em;
}
p{
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary);
}
img{
  max-width: 100%;
}
a{
  color: var(--secondary);
}

.p-body1-bold{
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.p-body2-normal{
  font-size: 16px;
  line-height: 22px;
}

.p-body2-bold{
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.button-principal,.button-secondary{
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  margin-block-start: 1em;
  padding-block: 12px;


  font-size: 18px;
  text-align: center;
}

.button-principal{
  background: black;
  border: 1px solid black;
  color: var(--white40);
  padding-inline: 24px;
  /* z-index: 2; */

}
.button-secondary{
  background: transparent;
  border: 2px solid white;
  color: white;
  padding-inline: 60px;
}
/* Menu */
.hero {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hero-content {
  /* position:relative; */
}
header {
  display: flex;
  padding-inline: 20px;
  padding-block: 24px;

  background: black;
  justify-content: space-between;
  border-bottom: 1px solid var(--purple30) ;

}
.header-menu{
  display: none;

}
#title-hero{
  font-size: 24px;
  color: white;
  font-weight: bold;
}
.header-menu a {
  margin-inline: 20px;
  text-transform: uppercase;
  text-decoration: none;
   color: white;
}
/* Fin de Menu */

/* presentation */
.presentation{
  display: flex;
   /* box-sizing: content-box; */
}
.presentation-content{
  display: flex;
  flex-direction: column;
  padding-block: 25px;
  padding-inline: 1em;
  align-items: flex-start;
  background: url("../img/background.png") no-repeat center center fixed;

  padding-block-end: 300px;
}
.presentation-content p{
  margin-block: 1em;
}
/* Fin de presentation */

/* brands */
.brands{
  padding-inline: 10px;
  padding-block-start: 275px;
  padding-block-end: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-img-brands{
  display: flex;
  margin-inline: 0;
  flex-direction: column;
  padding-block-start: 40px;

}
.group-img-brands img{
  margin-block: 24px;
  height: 50px;
}
/* Fin de brands */

/* checkout */
.checkout, .purchase{
  justify-content: center;
  align-items: center;
}
.checkout-content, .purchase-content{
  padding-block-start: 64px;
  padding-block-end: 20px;
  padding-inline: 20px;
  margin:0;
}
.checkout-content p{
  margin-block-start: 1em;
  margin-block-end: 300px;
}

.checkout-content{
  background: #E8E8E6 no-repeat center center fixed;
}
/* Fin de checkout */

/* .purchase */
.purchase-content{
  background: url("../img/background-white.png") no-repeat center center fixed;
}
.purchase-content p{
  margin-block-start: 1em;
  margin-block-end: 300px;
}
/* fin de purchase */
/* track */
.track{
  justify-content: center;
  align-items: center;
}
.track-content{
  padding-block-start: 64px;
  padding-block-end: 20px;
  padding-inline: 20px;
  margin:0;
  background: black no-repeat center center fixed;
}
.track-content h5{
  margin-block: 1em;
  color: white;
}
.track-content p{
  margin-block-start: 1em;
  margin-block-end: 300px;
  color: white;
}

/* Fin de track */
/* formas */
.group-formas{
  position: relative;
}

#circulo {
  position: relative;
  width: 40%;
  height: 40px;
  top: -40px;
  z-index: 1;
  background: #2FB464;
  border-radius: 100px;
}
#linea-blanca {
  width: 100%;
  height: 40px;
  z-index: -1;
  background: #E8E8E8;
  border-radius: 100px;
}
/* Fin de formas */
/* login */
.login{
  justify-content: center;
  align-items: center;
}
.login-content{
  padding-block-start: 64px;
  padding-block-end: 20px;
  padding-inline: 20px;
  margin:0;
}
.login-content h5{
  margin-block: 1em;
  color: black;
}
.login-content p{
  margin-block-start: 1em;
  margin-block-end: 2em;
  /* color: black; */
}
.login-content img{
  margin-block-end: 2em;
}

/* Fin de login */

/* folks */
.folks{
  background-color: #E8E8E6;
}
.folks-content{
  padding-block-start: 64px;
  padding-block-end: 20px;
  padding-inline: 20px;
  margin:0;
  text-align: center;
}
.comment{
  background: #FFFFFF;
  border-radius: 8px;
  margin-block: 80px;
  padding-block-start: 128px;
  padding-block-end: 32px;
  padding-inline: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.comment img{
  position: absolute;
  top: -50px;
  display: flex;

}
.p-body1-normal-black{
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding-block-end: 80px;
}
/* Fin de folks */

/* signup */
.signup{
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items:center;
}
.signup-content{
  background: #FFFFFF;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-block: 1em;
  margin-inline: 20px;
  padding-inline: 32px;
  padding-block: 24px;
  text-align: center;

  position: absolute;
  top: -80px;

  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.signup-content button{
  color: white;
   font-weight: bold;
}
/* Fin de signup */
/* footer  */
.footer{
  background-color: black;
}
.footer-content{
  margin-inline: 2em;
  padding-block-start: 100px;
  padding-block-end: 370px;

}
.footer-social p{
  padding-block-start: 1em;
}
.items-footer img{
    width:  40px;
    height: 40px;
    background: white;
    border-radius: 1000px;
    padding: 10px;
    margin-block: 20px;
}
.footer-social h5{
  color: white;
  margin-block-start:1em;
}
/* Fin de footer  */

/* celular */
.hero{
  z-index: 5;
}
.ruta-cel{
  /* border: 1px solid red; */
  position: relative;
}
.group-cel{
  /* border: 1px solid blue; */
  position: absolute;
  align-content: center;
  height: 85%;
}
.celular{
  position: fixed;
  z-index: 3;
  bottom: -200px;
  left: 25%;
}
.celular img{
  height: 420px;

}
.folks-content{
  z-index: 5;
}

/* Fin de celular */


/* Desktop Styles */
@media only screen and (min-width: 961px) {
  h1, h5{
    font-weight: 800;
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 0.01em;
  }
  .hero{
    z-index: 3;
  }
  .wrapper {
    max-inline-size: 100%;
    margin: auto;
  }
  .main-content {
    /* padding-block-start: 60px; */
    /* margin: 16px; */
    /* padding-inline: 16px; */
    position: relative;
  }
  /* Menu */
  .header-menu{
  display: block;
  }
  .header-icon{
  display: none;

  }
  /* Fin de Menu */

  /* presentation */
  .presentation{
    /* display: flex; */

  }
  .presentation-content{
    width: 100%;
    background: url("../img/background.png") no-repeat center center fixed;
    /* background-size: 100%; */
    padding-block-end: 300px;
    padding-block-start: 150px;
    padding-inline-start: 30%;
  }
  .presentation-content p{
    margin-block: 1em;
  }
  /* Fin de presentation */

  /* brands */
  .brands{
    padding-inline: 10px;
    padding-block-start: 15px;
    padding-block-end: 45px;
  }
  .group-img-brands{
    margin-inline: 0;
    flex-direction: row;
    justify-content: flex-start;
    padding-inline-start: 150px;
  }
  .group-img-brands img{
    height: 70px;
  }
  /* Fin de brands */

  /* checkout */
  .checkout-content, .purchase-content{
    padding-inline-start: 30%;
    padding-inline-end: 10%;

  }
  .checkout img{
    padding-inline-start: 30%;
  }
  .checkout-content p{
    margin-block-start: 1em;
    margin-block-end: 200px;
  }

  .checkout-content{
    background-color: white;
  }
  /* Fin de checkout */

  /* .purchase */
  .purchase-content{
    background-size: 100%;
    background: url("../img/background-white.png")  center ;
  }
  .purchase-content p{
    margin-block-start: 1em;
    margin-block-end: 300px;
  }
  /* fin de purchase */
  /* track */
  .track{
  }
  .track-content{
    padding-inline-start: 30%;
    padding-inline-end: 10%;
  }


  /* Fin de track */
  /* formas */
  .group-formas{
  }

  #circulo {
    position: relative;
    top: -40px;
  }
  #linea-blanca {
    position: static;
  }
  /* Fin de formas */
  /* login */
  .login-content{
    padding-inline-start: 40%;
    padding-inline-end: 30%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .login-content img{
    height: 370px;
    width: 370px;
  }

  /* Fin de login */

  /* folks */
  .card-comment{
    padding-inline-start: 10%;
    padding-inline-end: 10%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: row;
    gap: 16px;
  }
  .comment{
    width: 40%;
    height: 430px;
  }
  /* Fin de folks */

  /* signup */
  .signup-content{
    padding-block: 64px;
    padding-inline: 200px;
  }
  /* Fin de signup */
  /* footer  */
  .footer{
  }
  .footer-content{
    padding-block-start: 200px;
    padding-block-end: 100px;

    margin-inline: 26%;
    display: flex;
    flex-direction: row;
    gap: 128px;

  }
  .footer-social h5{
    font-size: 24px;
  }
  /* Fin de footer  */
  /* celular */
  .ruta-cel{
    /* border: 1px solid resd; */
    /* position: relative; */
  }
  .group-cel{
    /* border: 1px solid blue; */
    position: absolute;
    margin-inline-start: 16px;
    height: 85%;
  }
  .celular{
    position: sticky;
    z-index: 1;
    bottom: -50px;
    left: 25%;
  }
  .celular img{
    height: 520px;
  /* Fin de celular */

  }
}